@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --dark-gray:#1E1E1E;
    --lighter-gray:#2c2c2c;
    --light-green:#64FFDA;
    --dark-green:#18987b;
    --light-gray:#CCD6F6; 
    --gray:#8892B0;

    --fonteNormal: 'Roboto', sans-serif;
    --fonteDestaque: 'IBM Plex Mono', monospace;;
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 100%;
} 

/* GENERAL */

body {
    background-color: var(--dark-gray);
}

nav { 
    font-family: var(--fonteDestaque);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--dark-gray);
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--light-green);
    border-radius: 20px;
}

img {
    width: 20px;
}

svg {
    width: 20px;
}

main {
    min-width: 280px;
    max-width: 800px;
    margin: auto;

    margin: 0vw 3vw;
}

div#home > div#text > p#inicial {
    font-family: var(--fonteDestaque);
    color: var(--light-green);
}

div#home > div#text > h1 {
    font-family: var(--fonteNormal);
    font-weight: 600;
    color: var(--light-gray);
}

div#home > div#text > h1:hover {
   text-decoration: underline;
}

div#home > div#text > h2 {
    font-family: var(--fonteNormal);
    font-weight: 600;
    color: var(--light-green);
}

div#home > div#text > p {
    font-family: var(--fonteNormal);
    color: var(--gray);
}

div#home > div#text > p > strong {
    font-weight: normal;
    color: var(--light-green);
}

.title {
    display: flex;
    align-items: center;
}

.title > hr {
    flex: 1;
    height: 2px;
    border: none;
    background-color: var(--gray);
}

.title > h2{
    position: relative;
    color: var(--light-green);
    font-family: var(--fonteDestaque);
    margin-right: 10px;
}

.title > h2 > span{
    color: var(--light-gray);
    font-family: var(--fonteNormal);
}

div#align-about div#text{
    text-align: justify;
}

div#align-about div#text  p {
    font-family: var(--fonteNormal);
    color: var(--gray);

}

div#align-about div#text  p  span {
    font-family: var(--fonteDestaque);
    color: var(--light-green);
}

div#align-about div#text p strong {
    color: var(--light-green);
}

div#align-about div#text p a {
    color: var(--light-green);
    text-decoration: none;
}

div#align-about div#text p a:hover {
    text-decoration: underline;
}

.block > h3 {
    font-family: var(--fonteDestaque);
    color: var(--light-green);
}

.align-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.align-line > p {
    font-family: var(--fonteNormal);
    color: var(--light-gray);
}

progress {
    background-color: var(--gray);
    height: 7px;
    border-radius: 20px;
}

progress::-webkit-progress-bar {
    background-color: var(--gray);
    border-radius: 20px;
}
  
progress::-webkit-progress-value {
    background-color: var(--dark-green);
    border-radius: 20px;
}
  
progress::-moz-progress-bar {
    background-color: var(--dark-green);
    border-radius: 20px;
}

.display-certificate {
    background-color: var(--lighter-gray);
    border-radius: 5px;
    padding: 15px;

    width: 300px;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display-certificate h2 {
    font-family: var(--fonteDestaque);
    color: var(--light-green);
}
.display-certificate p {
    font-family: var(--fonteNormal);
    color: var(--light-gray);
    text-align: justify;
}

.display-certificate h3 {
    font-family: var(--fonteDestaque);
    color: var(--gray);
}

.display-certificate footer {
    display: flex;
    align-items: center;
}

.display-certificate footer img {
    width: 25px;
    margin-right: 1vw;
}

.display-certificate footer a {
    font-family: var(--fonteDestaque);
    color: var(--light-gray);
    text-decoration: none;
}

.display-certificate footer a:hover {
    text-decoration: underline;
}

.higthlights img {
    display: none;
}

.higthlights .content {
    height: 360px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    z-index: 20;
}

.higthlights .background-higthlights {
    height: 360px;
}

.higthlights .content h2, .project-grid .content h2 {
    display: block;
    font-family: var(--fonteDestaque);
    color: var(--light-green);
}

.higthlights-right h2 {
    text-align: end;
}

.higthlights .content h2:hover, .project-grid .content h2:hover {
    text-decoration: underline;
}

.higthlights .content p, .project-grid .content p{
    font-family: var(--fonteNormal);
    text-align: justify;
    color: var(--gray);
}

.higthlights .content p strong, .project-grid .content p strong {
    color: var(--light-green);
}

.higthlights .content h3, .project-grid .content h3 {
    font-family: var(--fonteDestaque);
    color: var(--gray);
}

.higthlights .content a {
    text-decoration: none;
}

.higthlights .content a svg {
    color: var(--gray);
}

.higthlights .content a:hover svg {
    color: var(--light-green);
}

.higthlights .content .align-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#other-projects {
    display: flex;
    align-items: center;
}

div#other-projects > hr {
    flex: 1;
    height: 2px;
    border: none;
    background-color: var(--gray);
}

div#other-projects > h2{
    position: relative;
    color: var(--light-green);
    font-family: var(--fonteDestaque);
    margin: 4dvh 10px;
}

div#project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-grid {
    background-color: var(--lighter-gray);
    border-radius: 5px;
    padding: 15px;

    width: 300px;
    height: 300px;

    margin-bottom: 4dvh;
}

.project-grid header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-grid header a {
    text-decoration: none;
}

.project-grid header a svg {
    color: var(--light-gray);
}

.project-grid header a:hover svg {
    color: var(--light-green);
}

.icon {
    display: grid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: 2px solid var(--light-gray);
    transition-duration: 0.3s;
}

div#github:hover {
    outline-offset: 4px;
    background-image: linear-gradient(to bottom, #8f32ad, #4b1a5b);
}

div#linkedin:hover {
    outline-offset: 4px;
    background-image: linear-gradient(to bottom, #0B66C2, #094077);
}

div#codepen:hover {
    outline-offset: 4px;
    background-image: linear-gradient(to bottom, #5CAF6B, #3b7045);
}

div#email:hover {
    outline-offset: 4px;
    background-image: linear-gradient(to bottom, #C80003, #710002);
}

div#cc-button:hover {
    outline-offset: 4px;
    background-image: linear-gradient(to bottom, #3e9a85, #204a41);
}

.icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.icon svg {
    width: 25px;
    color: var(--light-gray);
}

/* MOBILE */
@media only screen and (max-width: 480px) {
    
    header svg {
        color: var(--light-green);
    }

    header svg#icon {
        width: 30px;
        height: 30px;
    }

    header svg#menu-button {
        width: 35px;
    }

    div#header-mobile {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        display: none;
        flex-wrap: nowrap;
    }

    nav svg#icon,.bar {
        display: none;
    }

    nav div#menu {
        background-color: var(--lighter-gray);

        padding: 20px;

        height: 85dvh;
        width: 55vw;
        margin-left: 45vw;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px 0px 0px 10px;

        position: fixed;
        z-index: 10;
    }

    nav div#menu div#buttons {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    nav div#menu div#buttons a {
        color: var(--light-green);
        font-family: var(--fonteDestaque);
        font-size: 1.1em;
        text-decoration: none;
        margin: 5px;
    }

    nav div#menu div#buttons a:hover {
        text-decoration: underline;
        text-decoration-color: var(--light-gray);
    }

    nav div#menu div#buttons a span {
        color: var(--light-gray);
    }

    nav div#menu footer div#menu-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav div#menu footer div#menu-footer div#theme {
        display: flex;
    }

    nav div#menu footer div#menu-footer div#theme a {
        text-decoration: none;
        margin: 0px 5px;
        display: flex;
    }

    nav div#menu footer div#menu-footer div#theme a svg#moon {
        color: var(--light-green);
        width: 26px;
    }

    nav div#menu footer div#menu-footer div#theme a svg#sun {
        color: var(--light-gray);
        width: 26px;
    }

    nav div#menu footer div#menu-footer div#translate a {
        text-decoration: none;
        display: flex;
    }

    nav div#menu footer div#menu-footer div#translate a svg#translate {
        color: var(--light-gray);
        width: 26px;
    }

    nav div#menu footer div#menu-footer div#translate a:hover svg#translate {
        color: var(--light-green);
    }

    nav div#menu footer div#menuTranslate {
        margin-bottom: 2vw;
        margin-left: 25vw;
        display: none;
    }

    nav div#menu footer div#menuTranslate a {
        text-decoration: none;
        font-family: var(--fonteDestaque);
        color: var(--light-gray);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 1dvh;
    }

    nav div#menu footer div#menuTranslate a#pt-br {
        color: var(--light-green);
        text-decoration: underline;
    }

    nav div#menu footer div#menuTranslate a img {
        width: 15px;
        margin-right: 1vw;
    }

    div#home {
        margin: 30dvh 0dvh
    }

    div#home > div#text > p#inicial {
        text-indent: unset;
    }
    
    div#home > div#text > h1 {
        font-size: 3em;
    }
    
    div#home > div#text > h2 {
        font-size: 2em;
        font-weight: 500;
        margin-bottom: 3dvh;
    }
    
    div#home > div#text > p {
        width: 80vw;
        text-align: justify;
        text-indent: 7vw;
    }

    div.title {
        margin-bottom: 4dvh;
    }

    div.title > h2 {
        font-size: 1.1em;
        font-weight: 500;
    }

    div#align-about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div#align-about div#text {
        margin: 0vw 5vw;
    }

    div#align-about div#text  p {
        text-indent: 5vw;
        font-size: 1em;
        margin-bottom: 2dvh;
    }

    div#align-about div#text p strong {
        font-weight: 400;
    }

    div#align-about img{
        width: 80vw;
        margin: 5dvh 0dvh;
        border-radius: 5px;
    }

    div#align-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5dvh;
    }

    .block {
        width: 80vw;

        margin: 1dvh 0dvh;
    }

    .block > h3 {
        margin: 1dvh 0dvh;
    }

    .align-line {
        margin-bottom: 0.5dvh;
    }

    .grid-certificates{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .display-certificate {
        margin-bottom: 4dvh;
    }

    .display-certificate h2 {
        font-size:1.3em;
        font-weight: 600;
    }

    .display-certificate h3 {
        font-weight: 400;
    }

    .align-line-certificate {
        display: flex;
        justify-content: space-between;
    }

    .higthlights {
        margin-bottom: 4dvh;
        position: relative; 
        border-radius: 5px;

    }

    div#hight-bot::before {
        content: '';
        background-image: url('../image/port-discord.png');
        background-position: center;
        border-radius: 5px;
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 10%;
    }

    div#hight-cbc::before {
        content: '';
        background-image: url('../image/port-cbc.png');
        background-position: center;
        border-radius: 5px;
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 5%;
    }

    .higthlights .content {
        padding: 4vw;
    }

    .higthlights  h2 {
        font-size: 1.2em;
    }

    .higthlights .content p {
        font-size: 0.9em;
    }

    .higthlights .content h3 {
        font-size: 0.9em;
        font-weight: 400;
    }

    svg#folder {
        width: 40px;
    }

    svg#github, svg#link{
        width: 20px;
    }

    .project-grid header {
        margin-bottom: 3dvh;
    }

    .project-grid .content {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .project-grid .content h2 {
        font-size: 1.1em;
    }

    .project-grid .content p, .project-grid .content h3 {
        font-weight: 400;
        margin-top: 2dvh;
    }

    div#social-buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    div#download-cc {
        display: flex;
        align-items: center;
    }
    
    div#download-cc > hr {
        flex: 1;
        height: 2px;
        border: none;
        background-color: var(--gray);
    }
    
    div#download-cc > h2{
        position: relative;
        color: var(--light-green);
        font-family: var(--fonteDestaque);
        margin: 4dvh 10px;
    }

    div#cc-button {
        margin: auto;
        margin-bottom: 4dvh;
    }

    footer#end {
        height: 174px;

        display: flex;
        align-items: flex-end;
        justify-content: center;


        background-image: url('../svg/footer-mobile.svg');
        background-position: bottom center;
    }

    footer#end p {
        font-family: var(--fonteDestaque);
        font-weight: 500;
        font-size: 0.8em;
        color: var(--light-gray);

        padding: 2px;
    }
}

/* SMALL TABLETS */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    header svg {
        color: var(--light-green);
    }

    header svg#icon {
        width: 50px;
        height: 50px;
    }

    header svg#menu-button {
        width: 50px;
    }

    div#header-mobile {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        display: none;
        flex-wrap: nowrap;
    }

    nav svg#icon,.bar {
        display: none;
    }

    nav div#menu {
        background-color: var(--lighter-gray);

        padding: 20px;

        height: 85dvh;
        width: 55vw;
        margin-left: 45vw;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px 0px 0px 10px;

        position: fixed;
        z-index: 10;
    }

    nav div#menu div#buttons {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    nav div#menu div#buttons a {
        color: var(--light-green);
        font-family: var(--fonteDestaque);
        font-size: 1.4em;
        text-decoration: none;
        margin: 5px;
    }

    nav div#menu div#buttons a:hover {
        text-decoration: underline;
        text-decoration-color: var(--light-gray);
    }

    nav div#menu div#buttons a span {
        color: var(--light-gray);
    }

    nav div#menu footer div#menu-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav div#menu footer div#menu-footer div#theme {
        display: flex;
    }

    nav div#menu footer div#menu-footer div#theme a {
        text-decoration: none;
        margin: 0px 5px;
        display: flex;
    }

    nav div#menu footer div#menu-footer div#theme a svg#moon {
        color: var(--light-green);
        width: 35px;
    }

    nav div#menu footer div#menu-footer div#theme a svg#sun {
        color: var(--light-gray);
        width: 35px;
    }

    nav div#menu footer div#menu-footer div#translate a {
        text-decoration: none;
        display: flex;
    }

    nav div#menu footer div#menu-footer div#translate a svg#translate {
        color: var(--light-gray);
        width: 35px;
    }

    nav div#menu footer div#menu-footer div#translate a:hover svg#translate {
        color: var(--light-green);
    }

    nav div#menu footer div#menuTranslate {
        margin-bottom: 2vw;
        margin-left: 25vw;
        display: none;
    }

    nav div#menu footer div#menuTranslate a {
        text-decoration: none;
        font-family: var(--fonteDestaque);
        font-size: 1.4em;
        color: var(--light-gray);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 1dvh;
    }

    nav div#menu footer div#menuTranslate a#pt-br {
        color: var(--light-green);
        text-decoration: underline;
    }

    nav div#menu footer div#menuTranslate a img {
        width: 20px;
        margin-right: 1vw;
    }

    div#home {
        display: flex;
        flex-direction: column;

        margin: 34dvh 0vw;
    }

    div#home div#text p#inicial {
        font-size: 1.5em;
    }

    div#home div#text h1 {
        font-size: 4em;
    }

    div#home div#text h2 {
        font-size: 2.8em;
        margin-bottom: 2dvh;
    }

    div#home div#text p {
        font-size: 1.4em;
        width: 70vw;
        text-align: justify;
    }

    .title {
        font-size: 1.5em;
        margin: 4dvh 0vw;
    }

    div#about-me div#align-about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div#about-me div#text {
        font-size: 1.2em;
        margin: 0dvh 5vw;
        text-indent: 5vw;
    }

    div#about-me img {
        width: 45vw;
        border-radius: 5px;
        margin-top: 4dvh;
    }

    .block {
        width: 370px;
        margin: auto;
        margin-bottom: 4dvh;
    }

    .block h3, .block p {
        font-size: 1.4em;
        margin-bottom: 0.5dvh;
    }

    .grid-certificates{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .display-certificate {
        margin-bottom: 4dvh;
        width: 80vw;
    }

    .display-certificate h2 {
        font-size:1.6em;
        font-weight: 600;
    }

    .display-certificate p, .display-certificate h3 {
        font-weight: 400;
        font-size: 1.2em;
    }

    .align-line-certificate {
        display: flex;
        justify-content: space-between;
    }

    .higthlights {
        margin-bottom: 4dvh;
        position: relative; 
        border-radius: 5px;
    }

    div#hight-bot::before {
        content: '';
        background-image: url('../image/port-discord.png');
        background-position: center;
        border-radius: 5px;
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 10%;
    }

    div#hight-cbc::before {
        content: '';
        background-image: url('../image/port-cbc.png');
        background-position: center;
        border-radius: 5px;
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 5%;
    }

    .higthlights .content {
        padding: 4vw;
    }

    .higthlights .content h2 {
        font-size: 1.5em;
    }

    .higthlights .content p {
        font-size: 1.2em;
        font-weight: 300;
    }

    .higthlights .content h3 {
        font-size: 1.1em;
        font-weight: 400;
    }

    .higthlights svg {
        width: 30px;
    }

    svg#folder {
        width: 50px;
    }

    svg#github, svg#link{
        width: 25px;
    }

    div#other-projects {
        font-size: 1.4em;
    }

    div#project {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .project-grid {
        height: fit-content;
        width: 40vw;
    }

    .project-grid header {
        margin-bottom: 2dvh;
    }


    .project-grid .content {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .project-grid .content h2 {
        font-size: 1.4em;
    }

    .project-grid .content p, .project-grid .content h3 {
        font-weight: 400;
        font-size: 1.1em;
        margin-top: 2dvh;
    }

    .icon {
        width: 70px;
        height: 70px;
    }

    .icon svg {
        width: 30px;
    }

    div#social-buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    div#download-cc {
        display: flex;
        align-items: center;
    }
    
    div#download-cc > hr {
        flex: 1;
        height: 2px;
        border: none;
        background-color: var(--gray);
    }
    
    div#download-cc > h2{
        position: relative;
        color: var(--light-green);
        font-size: 1.4em;
        font-family: var(--fonteDestaque);
        margin: 4dvh 10px;
    }

    div#cc-button {
        margin: auto;
        margin-bottom: 4dvh;
    }

    footer#end {
        height: 245px;
        display: flex;
        align-items: flex-end;
        justify-content: center;


        background-image: url('../svg/footer-small-tablet.svg');
        background-position: bottom center;
    }

    footer#end p {
        font-family: var(--fonteDestaque);
        font-weight: 500;
        color: var(--light-gray);

        padding: 2px;
    }
}

/* TABLETS */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    header svg {
        color: var(--light-green);
    }

    header svg#icon {
        width: 50px;
        height: 50px;
    }

    header svg#menu-button {
        width: 50px;
    }

    div#header-mobile {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        display: none;
        flex-wrap: nowrap;
    }

    nav svg#icon,.bar {
        display: none;
    }

    nav div#menu {
        background-color: var(--lighter-gray);

        padding: 20px;

        height: 85dvh;
        width: 55vw;
        margin-left: 45vw;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px 0px 0px 10px;

        position: fixed;
        z-index: 10;
    }

    nav div#menu div#buttons {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    nav div#menu div#buttons a {
        color: var(--light-green);
        font-family: var(--fonteDestaque);
        font-size: 1.4em;
        text-decoration: none;
        margin: 5px;
    }

    nav div#menu div#buttons a:hover {
        text-decoration: underline;
        text-decoration-color: var(--light-gray);
    }

    nav div#menu div#buttons a span {
        color: var(--light-gray);
    }

    nav div#menu footer div#menu-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav div#menu footer div#menu-footer div#theme {
        display: flex;
    }

    nav div#menu footer div#menu-footer div#theme a {
        text-decoration: none;
        margin: 0px 5px;
        display: flex;
    }

    nav div#menu footer div#menu-footer div#theme a svg#moon {
        color: var(--light-green);
        width: 35px;
    }

    nav div#menu footer div#menu-footer div#theme a svg#sun {
        color: var(--light-gray);
        width: 35px;
    }

    nav div#menu footer div#menu-footer div#translate a {
        text-decoration: none;
        display: flex;
    }

    nav div#menu footer div#menu-footer div#translate a svg#translate {
        color: var(--light-gray);
        width: 35px;
    }

    nav div#menu footer div#menu-footer div#translate a:hover svg#translate {
        color: var(--light-green);
    }

    nav div#menu footer div#menuTranslate {
        margin-bottom: 2vw;
        margin-left: 25vw;
        display: none;
    }

    nav div#menu footer div#menuTranslate a {
        text-decoration: none;
        font-family: var(--fonteDestaque);
        font-size: 1.4em;
        color: var(--light-gray);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 1dvh;
    }

    nav div#menu footer div#menuTranslate a#pt-br {
        color: var(--light-green);
        text-decoration: underline;
    }

    nav div#menu footer div#menuTranslate a img {
        width: 20px;
        margin-right: 1vw;
    }

    div#home {
        display: flex;
        flex-direction: column;

        margin: 34dvh 0vw;
    }

    div#home div#text p#inicial {
        font-size: 1.5em;
    }

    div#home div#text h1 {
        font-size: 4em;
    }

    div#home div#text h2 {
        font-size: 2.8em;
        margin-bottom: 2dvh;
    }

    div#home div#text p {
        font-size: 1.4em;
        width: 70vw;
        text-align: justify;
    }

    .title {
        font-size: 1.5em;
        margin: 4dvh 0vw;
    }

    div#about-me div#align-about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div#about-me div#text {
        font-size: 1.2em;
        margin: 0dvh 5vw;
        text-indent: 5vw;
    }

    div#about-me img {
        width: 45vw;
        border-radius: 5px;
        margin-top: 4dvh;
    }

    .align-block {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .block {
        width: 370px;
    }

    .block h3, .block p {
        font-size: 1.4em;
        margin-bottom: 0.5dvh;
    }

    .grid-certificates{
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .display-certificate {
        width: 45vw;
        height: 30dvh;
    }

    .display-certificate h2 {
        font-size:1.6em;
        font-weight: 600;
    }

    .display-certificate p, .display-certificate h3 {
        font-weight: 400;
        font-size: 1.2em;
    }

    .align-line-certificate {
        display: flex;
        justify-content: space-between;
    }

    .higthlights {
        margin-bottom: 4dvh;
        position: relative; 
        border-radius: 5px;
        height: 450px;
    }

    div#hight-bot::before {
        content: '';
        background-image: url('../image/port-discord.png');
        background-position: center;
        border-radius: 5px;
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 10%;
    }

    div#hight-cbc::before {
        content: '';
        background-image: url('../image/port-cbc.png');
        background-position: center;
        border-radius: 5px;
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 5%;
    }

    .higthlights .content {
        padding: 4vw;
        height: 450px;
    }

    .higthlights .content h2 {
        font-size: 1.5em;
    }

    .higthlights .content p {
        font-size: 1.2em;
        font-weight: 300;
    }

    .higthlights .content h3 {
        font-size: 1.1em;
        font-weight: 400;
    }

    .higthlights svg {
        width: 30px;
    }

    svg#folder {
        width: 50px;
    }

    svg#github, svg#link{
        width: 25px;
    }

    div#other-projects {
        font-size: 1.4em;
    }

    div#project {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .project-grid {
        height: fit-content;
        width: 40vw;
    }

    .project-grid header {
        margin-bottom: 2dvh;
    }


    .project-grid .content {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .project-grid .content h2 {
        font-size: 1.4em;
    }

    .project-grid .content p, .project-grid .content h3 {
        font-weight: 400;
        font-size: 1.1em;
        margin-top: 2dvh;
    }

    .icon {
        width: 80px;
        height: 80px;
    }

    .icon svg {
        width: 40px;
    }

    div#social-buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    div#download-cc {
        display: flex;
        align-items: center;
    }
    
    div#download-cc > hr {
        flex: 1;
        height: 2px;
        border: none;
        background-color: var(--gray);
    }
    
    div#download-cc > h2{
        position: relative;
        color: var(--light-green);
        font-size: 1.4em;
        font-family: var(--fonteDestaque);
        margin: 4dvh 10px;
    }

    div#cc-button {
        margin: auto;
        margin-bottom: 4dvh;
    }

    footer#end {
        height: 260px;
        display: flex;
        align-items: flex-end;
        justify-content: center;


        background-image: url('../svg/footer-tablet.svg');
        background-position: bottom center;
    }

    footer#end p {
        font-family: var(--fonteDestaque);
        font-weight: 500;
        color: var(--light-gray);

        padding: 2px;
    }
}

/* DESKTOP */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* LARGE SCREEN */
@media only screen and (min-width: 1200px) {
}