@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --dark-gray:#1E1E1E;
    --lighter-gray:#2c2c2c;
    --light-green:#64FFDA;
    --dark-green:#18987b;
    --light-gray:#CCD6F6; 
    --gray:#8892B0;

    --fonteNormal: 'Roboto', sans-serif;
    --fonteDestaque: 'IBM Plex Mono', monospace;;
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 100%;
} 

/* GENERAL */

body {
    background-color: var(--dark-gray);
}

nav { 
    font-family: var(--fonteDestaque);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--dark-gray);
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--light-green);
    border-radius: 20px;
}

img {
    width: 20px;
}

svg {
    width: 20px;
}

main {
    min-width: 280px;
    max-width: 800px;
    margin: auto;
}

div#home > div#text > p#inicial {
    font-family: var(--fonteDestaque);
    color: var(--light-green);
}

div#home > div#text > h1 {
    font-family: var(--fonteNormal);
    font-weight: 600;
    color: var(--light-gray);
}

div#home > div#text > h1:hover {
   text-decoration: underline;
}

div#home > div#text > h2 {
    font-family: var(--fonteNormal);
    font-weight: 600;
    color: var(--light-green);
}

div#home > div#text > p {
    font-family: var(--fonteNormal);
    color: var(--gray);
}

div#home > div#text > p > strong {
    font-weight: normal;
    color: var(--light-green);
}

div.title {
    display: flex;
    align-items: center;
}

div.title > hr {
    flex: 1;
    height: 2px;
    border: none;
    background-color: var(--gray);
}

div.title > h2{
    position: relative;
    color: var(--light-green);
    font-family: var(--fonteDestaque);
    margin-right: 10px;
}

div.title > h2 > span{
    color: var(--light-gray);
    font-family: var(--fonteNormal);
}

div#align-about div#text{
    text-align: justify;
}

div#align-about div#text  p {
    font-family: var(--fonteNormal);
    color: var(--gray);

}

div#align-about div#text  p  span {
    font-family: var(--fonteDestaque);
    color: var(--light-green);
}

div#align-about div#text p strong {
    color: var(--light-green);
}

div#align-about div#text p a {
    color: var(--light-green);
    text-decoration: none;
}

div#align-about div#text p a:hover {
    text-decoration: underline;
}

.block > h3 {
    font-family: var(--fonteDestaque);
    color: var(--light-green);
}

.align-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.align-line > p {
    font-family: var(--fonteNormal);
    color: var(--light-gray);
}

progress {
    background-color: var(--gray);
    height: 7px;
    border-radius: 20px;
}

progress::-webkit-progress-bar {
    background-color: var(--gray);
    border-radius: 20px;
}
  
progress::-webkit-progress-value {
    background-color: var(--dark-green);
    border-radius: 20px;
}
  
progress::-moz-progress-bar {
    background-color: var(--dark-green);
    border-radius: 20px;
}

.display-certificate {
    background-color: var(--lighter-gray);
    border-radius: 5px;
    padding: 15px;

    width: 300px;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display-certificate h2 {
    font-family: var(--fonteDestaque);
    color: var(--light-green);
}
.display-certificate p {
    font-family: var(--fonteNormal);
    color: var(--light-gray);
    text-align: justify;
}

.display-certificate h3 {
    font-family: var(--fonteDestaque);
    color: var(--gray);
}

.display-certificate footer {
    display: flex;
    align-items: center;
}

.display-certificate footer img {
    width: 25px;
    margin-right: 1vw;
}

.display-certificate footer a {
    font-family: var(--fonteDestaque);
    color: var(--light-gray);
    text-decoration: none;
}

.display-certificate footer a:hover {
    text-decoration: underline;
}

.higthlights .content {
    height: 360px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    z-index: 20;
}

.higthlights .background-higthlights {
    height: 360px;
}

.higthlights .content h2 {
    display: block;
    font-family: var(--fonteDestaque);
    color: var(--light-green);
}

.higthlights .content h2:hover {
    text-decoration: underline;
}

.higthlights .content p {
    font-family: var(--fonteNormal);
    text-align: justify;
    color: var(--gray);
}

.higthlights .content p strong {
    color: var(--light-green);
}

.higthlights .content h3 {
    font-family: var(--fonteDestaque);
    color: var(--gray);
}

.higthlights .content a {
    text-decoration: none;
}

.higthlights .content a svg {
    color: var(--gray);
}

.higthlights .content a:hover svg {
    color: var(--light-green);
}

.higthlights .content .align-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* MOBILE */
@media only screen and (max-width: 480px) {
    
    header svg {
        color: var(--light-green);
    }

    header svg#icon {
        width: 30px;
    }

    header svg#menu-button {
        width: 35px;
    }

    div#header-mobile {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        display: none;
        flex-wrap: nowrap;
    }

    nav div#icon,.bar {
        display: none;
    }

    nav div#menu {
        background-color: var(--lighter-gray);

        padding: 20px;

        height: 85vh;
        width: 55vw;
        margin-left: 45vw;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px 0px 0px 10px;

        position: fixed;
        z-index: 10;
    }

    nav div#menu div#buttons {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    nav div#menu div#buttons a {
        color: var(--light-green);
        font-family: var(--fonteDestaque);
        font-size: 1.1em;
        text-decoration: none;
        margin: 5px;
    }

    nav div#menu div#buttons a:hover {
        text-decoration: underline;
        text-decoration-color: var(--light-gray);
    }

    nav div#menu div#buttons a span {
        color: var(--light-gray);
    }

    nav div#menu footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav div#menu footer div#theme {
        display: flex;
    }

    nav div#menu footer div#theme a {
        text-decoration: none;
        margin: 0px 5px;
        display: flex;
    }

    nav div#menu footer div#theme a svg#moon {
        color: var(--light-green);
        width: 26px;
    }

    nav div#menu footer div#theme a svg#sun {
        color: var(--light-gray);
        width: 26px;
    }

    nav div#menu footer div#translate a {
        text-decoration: none;
        display: flex;
    }

    nav div#menu footer div#translate a svg#translate {
        color: var(--light-gray);
        width: 26px;
    }

    nav div#menu footer div#translate a:hover svg#translate {
        color: var(--light-green);
    }

    main {
        margin: 0vw 3vw;
    }

    div#home {
        margin: 30vh 0vh
    }

    div#home > div#text > p#inicial {
        text-indent: unset;
    }
    
    div#home > div#text > h1 {
        font-size: 3em;
    }
    
    div#home > div#text > h2 {
        font-size: 2em;
        font-weight: 500;
        margin-bottom: 3vh;
    }
    
    div#home > div#text > p {
        width: 80vw;
        text-align: justify;
        text-indent: 7vw;
    }

    div.title {
        margin-bottom: 4vh;
    }

    div.title > h2 {
        font-size: 1.1em;
        font-weight: 500;
    }

    div#align-about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div#align-about div#text {
        margin: 0vw 5vw;
    }

    div#align-about div#text  p {
        text-indent: 5vw;
        font-size: 1em;
        margin-bottom: 2vh;
    }

    div#align-about div#text p strong {
        font-weight: 400;
    }

    div#align-about img{
        width: 80vw;
        margin: 5vh 0vh;
        border-radius: 5px;
    }

    div#align-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5vh;
    }

    .block {
        width: 80vw;

        margin: 1vh 0vh;
    }

    .block > h3 {
        margin: 1vh 0vh;
    }

    .align-line {
        margin-bottom: 0.5vh;
    }

    .grid-certificates{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .display-certificate {
        margin-bottom: 4vh;
    }

    .display-certificate h2 {
        font-size:1.5em;
        font-weight: 600;
    }

    .display-certificate h3 {
        font-weight: 400;
    }

    .align-line-certificate {
        display: flex;
        justify-content: space-between;
    }

    .higthlights {
        margin-bottom: 4vh;
    }

    div#hight-bot {
        background-image: url('../image/port-discord.png');
        background-position: center;
        border-radius: 5px;
        opacity: 20%;
    }

    div#hight-cbc {
        background-image: url('../image/port-discord.png');
        background-position: center;
        border-radius: 5px;
        opacity: 20%;
    }

    .higthlights .content {
        padding: 4vw;
    }

    .higthlights  h2 {
        font-size: 1.2em;
    }

    .higthlights .content p {
        font-size: 0.9em;
    }

    .higthlights .content h3 {
        font-size: 0.9em;
        font-weight: 400;
    }

}

/* SMALL TABLETS */
@media only screen and (min-width: 481px) and (max-width: 767px) {
}

/* TABLETS */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* DESKTOP */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* LARGE SCREEN */
@media only screen and (min-width: 1200px) {
}