@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --dark-gray:#1E1E1E;
    --lighter-gray:#2c2c2c;
    --light-green:#64FFDA;
    --dark-green:#18987b;
    --light-gray:#CCD6F6; 
    --gray:#8892B0;

    --fonteNormal: 'Roboto', sans-serif;
    --fonteDestaque: 'IBM Plex Mono', monospace;;
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 100%;
} 

/* GENERAL */

body {
    background-color: var(--dark-gray);
}

nav { 
    font-family: var(--fonteDestaque);

    text-align: right;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--dark-gray);
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--light-green);
    border-radius: 20px;
}

img {
    width: 20px;
}

svg {
    width: 20px;
}

/* MOBILE */
@media only screen and (max-width: 480px) {
    
    header svg {
        color: var(--light-green);
    }

    header svg#icon {
        width: 30px;
    }

    header svg#menu-button {
        width: 35px;
    }

    div#header-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 10px;
    }

    nav div#menu {
        background-color: var(--lighter-gray);

        padding: 10px;
    }

    nav div#menu div#buttons {
        display: flex;
        flex-direction: column;

    }

    nav div#menu div#buttons a {
        color: var(--light-green);
        font-family: var(--fonteDestaque);
        text-decoration: none;
    }

    nav div#icon {
        display: none;
    }
}

/* SMALL TABLETS */
@media only screen and (min-width: 481px) and (max-width: 767px) {
}

/* TABLETS */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* DESKTOP */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* LARGE SCREEN */
@media only screen and (min-width: 1200px) {
}